In [1]:
import pandas as pd

In [2]:
data_path = "../project-4-group-6/Resources/heart_2020_cleaned.csv"

data = pd.read_csv(data_path)

In [3]:
data.head()

,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer
0,No,16.60,Yes,No,No,3.0,30.0,No,Female,55-59,White,Yes,Yes,Very good,5.0,Yes,No,Yes
1,No,20.34,No,No,Yes,0.0,0.0,No,Female,80 or older,White,No,Yes,Very good,7.0,No,No,No
2,No,26.58,Yes,No,No,20.0,30.0,No,Male,65-69,White,Yes,Yes,Fair,8.0,Yes,No,No
3,No,24.21,No,No,No,0.0,0.0,No,Female,75-79,White,No,No,Good,6.0,No,No,Yes
4,No,23.71,No,No,No,28.0,0.0,Yes,Female,40-44,White,No,Yes,Very good,8.0,No,No,No

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319795 entries, 0 to 319794
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   HeartDisease      319795 non-null  object
 1   BMI               319795 non-null  float64
 2   Smoking           319795 non-null  object
 3   AlcoholDrinking   319795 non-null  object
 4   Stroke            319795 non-null  object
 5   PhysicalHealth    319795 non-null  float64
 6   MentalHealth      319795 non-null  float64
 7   DiffWalking       319795 non-null  object
 8   Sex               319795 non-null  object
 9   AgeCategory       319795 non-null  object
 10  Race              319795 non-null  object
 11  Diabetic          319795 non-null  object
 12  PhysicalActivity  319795 non-null  object
 13  GenHealth         319795 non-null  object
 14  SleepTime         319795 non-null  float64
 15  Asthma            319795 non-null  object
 16  KidneyDisease     319795 non-null  object
 17  SkinCancer        319795 non-null  object
dtypes: float64(4), object(14)
memory usage: 43.9+ MB

In [5]:
def encode_binary(value):
    if value == "Yes":
        return 1
    if value == "No":
        return 0

In [13]:
def encode_sex (sex):
    if sex == "Female":
        return 0
    if sex == "Male":
        return 1

In [6]:
data_encoded = data.copy()

In [8]:
data_encoded["Diabetic"].value_counts()

No                         269653
Yes                         40802
No, borderline diabetes      6781
Yes (during pregnancy)       2559
Name: Diabetic, dtype: int64

In [9]:
data_encoded["Diabetic"].replace({"No, borderline diabetes":"No", "Yes (during pregnancy)":"Yes"}, inplace=True)

In [10]:
data_encoded["Diabetic"].value_counts()

No     276434
Yes     43361
Name: Diabetic, dtype: int64

In [11]:
data_encoded["HeartDisease"] = data_encoded["HeartDisease"].apply(encode_binary)
data_encoded["Smoking"] = data_encoded["Smoking"].apply(encode_binary)
data_encoded["AlcoholDrinking"] = data_encoded["AlcoholDrinking"].apply(encode_binary)
data_encoded["Stroke"] = data_encoded["Stroke"].apply(encode_binary)
data_encoded["DiffWalking"] = data_encoded["DiffWalking"].apply(encode_binary)
data_encoded["PhysicalActivity"] = data_encoded["PhysicalActivity"].apply(encode_binary)
data_encoded["Asthma"] = data_encoded["Asthma"].apply(encode_binary)
data_encoded["KidneyDisease"] = data_encoded["KidneyDisease"].apply(encode_binary)
data_encoded["SkinCancer"] = data_encoded["SkinCancer"].apply(encode_binary)
data_encoded["Diabetic"] = data_encoded["Diabetic"].apply(encode_binary)

In [14]:
data_encoded["Sex"] = data_encoded["Sex"].apply(encode_sex)

In [15]:
data_encoded.head()

,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer
0,0,16.60,1,0,0,3.0,30.0,0,0,55-59,White,1,1,Very good,5.0,1,0,1
1,0,20.34,0,0,1,0.0,0.0,0,0,80 or older,White,0,1,Very good,7.0,0,0,0
2,0,26.58,1,0,0,20.0,30.0,0,1,65-69,White,1,1,Fair,8.0,1,0,0
3,0,24.21,0,0,0,0.0,0.0,0,0,75-79,White,0,0,Good,6.0,0,0,1
4,0,23.71,0,0,0,28.0,0.0,1,0,40-44,White,0,1,Very good,8.0,0,0,0

In [16]:
dummies_columns = data_encoded[["AgeCategory","Race","GenHealth"]].columns

In [17]:
dummies_columns

Index(['AgeCategory', 'Race', 'GenHealth'], dtype='object')

In [20]:
dummies = pd.get_dummies(data_encoded[["AgeCategory","Race","GenHealth"]])

In [21]:
dummies

,AgeCategory_18-24,AgeCategory_25-29,AgeCategory_30-34,AgeCategory_35-39,AgeCategory_40-44,AgeCategory_45-49,AgeCategory_50-54,AgeCategory_55-59,AgeCategory_60-64,AgeCategory_65-69,...,Race_Asian,Race_Black,Race_Hispanic,Race_Other,Race_White,GenHealth_Excellent,GenHealth_Fair,GenHealth_Good,GenHealth_Poor,GenHealth_Very good
0,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,1,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319790,0,0,0,0,0,0,0,0,1,0,...,0,0,1,0,0,0,1,0,0,0
319791,0,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
319792,0,0,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
319793,0,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
319794,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0

In [22]:
data_model = data_encoded.copy()

In [23]:
data_model = data_model.drop(columns=dummies_columns)

In [24]:
data_model = pd.concat([data_model, dummies], axis=1)

In [25]:
data_model

,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,Diabetic,...,Race_Asian,Race_Black,Race_Hispanic,Race_Other,Race_White,GenHealth_Excellent,GenHealth_Fair,GenHealth_Good,GenHealth_Poor,GenHealth_Very good
0,0,16.60,1,0,0,3.0,30.0,0,0,1,...,0,0,0,0,1,0,0,0,0,1
1,0,20.34,0,0,1,0.0,0.0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
2,0,26.58,1,0,0,20.0,30.0,0,1,1,...,0,0,0,0,1,0,1,0,0,0
3,0,24.21,0,0,0,0.0,0.0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
4,0,23.71,0,0,0,28.0,0.0,1,0,0,...,0,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319790,1,27.41,1,0,0,7.0,0.0,1,1,1,...,0,0,1,0,0,0,1,0,0,0
319791,0,29.84,1,0,0,0.0,0.0,0,1,0,...,0,0,1,0,0,0,0,0,0,1
319792,0,24.24,0,0,0,0.0,0.0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
319793,0,32.81,0,0,0,0.0,0.0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
319794,0,46.56,0,0,0,0.0,0.0,0,0,0,...,0,0,1,0,0,0,0,1,0,0

In [26]:
data_model.columns

Index(['HeartDisease', 'BMI', 'Smoking', 'AlcoholDrinking', 'Stroke',
       'PhysicalHealth', 'MentalHealth', 'DiffWalking', 'Sex', 'Diabetic',
       'PhysicalActivity', 'SleepTime', 'Asthma', 'KidneyDisease',
       'SkinCancer', 'AgeCategory_18-24', 'AgeCategory_25-29',
       'AgeCategory_30-34', 'AgeCategory_35-39', 'AgeCategory_40-44',
       'AgeCategory_45-49', 'AgeCategory_50-54', 'AgeCategory_55-59',
       'AgeCategory_60-64', 'AgeCategory_65-69', 'AgeCategory_70-74',
       'AgeCategory_75-79', 'AgeCategory_80 or older',
       'Race_American Indian/Alaskan Native', 'Race_Asian', 'Race_Black',
       'Race_Hispanic', 'Race_Other', 'Race_White', 'GenHealth_Excellent',
       'GenHealth_Fair', 'GenHealth_Good', 'GenHealth_Poor',
       'GenHealth_Very good'],
      dtype='object')

In [28]:
data_model.to_csv("../project-4-group-6/Resources/processed_data.csv", index=False)