In [1]:
import pandas as pd

In [2]:
data_path = "../project-4-group-6/Resources/heart_2020_cleaned.csv"

data = pd.read_csv(data_path)

In [3]:
data.head()

,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer
0,No,16.60,Yes,No,No,3.0,30.0,No,Female,55-59,White,Yes,Yes,Very good,5.0,Yes,No,Yes
1,No,20.34,No,No,Yes,0.0,0.0,No,Female,80 or older,White,No,Yes,Very good,7.0,No,No,No
2,No,26.58,Yes,No,No,20.0,30.0,No,Male,65-69,White,Yes,Yes,Fair,8.0,Yes,No,No
3,No,24.21,No,No,No,0.0,0.0,No,Female,75-79,White,No,No,Good,6.0,No,No,Yes
4,No,23.71,No,No,No,28.0,0.0,Yes,Female,40-44,White,No,Yes,Very good,8.0,No,No,No

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319795 entries, 0 to 319794
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   HeartDisease      319795 non-null  object
 1   BMI               319795 non-null  float64
 2   Smoking           319795 non-null  object
 3   AlcoholDrinking   319795 non-null  object
 4   Stroke            319795 non-null  object
 5   PhysicalHealth    319795 non-null  float64
 6   MentalHealth      319795 non-null  float64
 7   DiffWalking       319795 non-null  object
 8   Sex               319795 non-null  object
 9   AgeCategory       319795 non-null  object
 10  Race              319795 non-null  object
 11  Diabetic          319795 non-null  object
 12  PhysicalActivity  319795 non-null  object
 13  GenHealth         319795 non-null  object
 14  SleepTime         319795 non-null  float64
 15  Asthma            319795 non-null  object
 16  KidneyDisease     319795 non-null  object
 17  SkinCancer        319795 non-null  object
dtypes: float64(4), object(14)
memory usage: 43.9+ MB

In [5]:
data.describe()

                 BMI  PhysicalHealth   MentalHealth      SleepTime
count  319795.000000    319795.00000  319795.000000  319795.000000
mean       28.325399         3.37171       3.898366       7.097075
std         6.356100         7.95085       7.955235       1.436007
min        12.020000         0.00000       0.000000       1.000000
25%        24.030000         0.00000       0.000000       6.000000
50%        27.340000         0.00000       0.000000       7.000000
75%        31.420000         2.00000       3.000000       8.000000
max        94.850000        30.00000      30.000000      24.000000

In [6]:
# Data Encoding functions

In [7]:
def encode_binary(value):
    if value == "Yes":
        return 1
    if value == "No":
        return 0

In [8]:
def encode_sex (sex):
    if sex == "Female":
        return 0
    if sex == "Male":
        return 1

In [9]:
def encode_race (race):
    if race == "American Indian/Alaskan Native":
        return 0
    if race == "Asian":
        return 1
    if race == "Black":
        return 2
    if race == "Hispanic":
        return 3
    if race == "Other":
        return 4
    if race == "White":
        return 5

In [10]:
def encode_age (age):
    if age == "18-24":
        return 0
    if age == "25-29":
        return 1
    if age == "30-34":
        return 2
    if age == "35-39":
        return 3
    if age == "40-44":
        return 4
    if age == "45-49":
        return 5
    if age == "50-54":
        return 6
    if age == "55-59":
        return 7
    if age == "60-64":
        return 8
    if age == "65-69":
        return 9
    if age == "70-74":
        return 10
    if age == "75-79":
        return 11
    if age == "80 or older":
        return 12

In [11]:
def encode_diabetic (diabetic):
    if diabetic == "No":
        return 0
    if diabetic == "No, borderline diabetes":
        return 1
    if diabetic == "Yes":
        return 2
    if diabetic == "Yes (during pregnancy)":
        return 3

In [12]:
def encode_health (health):
    if health == "Poor":
        return 0
    if health == "Fair":
        return 1
    if health == "Good":
        return 2
    if health == "Very good":
        return 3
    if health == "Excellent":
        return 4

In [13]:
data_encoded = data.copy()

In [14]:
data_encoded["Race"] = data_encoded["Race"].apply(encode_race)

In [15]:
data_encoded["AgeCategory"] = data_encoded["AgeCategory"].apply(encode_age)

In [16]:
data_encoded["Diabetic"] = data_encoded["Diabetic"].apply(encode_diabetic)

In [17]:
data_encoded["GenHealth"] = data_encoded["GenHealth"].apply(encode_health)

In [18]:
data_encoded["Smoking"] = data_encoded["Smoking"].apply(encode_binary)

In [19]:
data_encoded["AlcoholDrinking"] = data_encoded["AlcoholDrinking"].apply(encode_binary)

In [20]:
data_encoded["Stroke"] = data_encoded["Stroke"].apply(encode_binary)

In [21]:
data_encoded["DiffWalking"] = data_encoded["DiffWalking"].apply(encode_binary)

In [22]:
data_encoded["PhysicalActivity"] = data_encoded["PhysicalActivity"].apply(encode_binary)

In [23]:
data_encoded["Asthma"] = data_encoded["Asthma"].apply(encode_binary)

In [24]:
data_encoded["KidneyDisease"] = data_encoded["KidneyDisease"].apply(encode_binary)

In [25]:
data_encoded["SkinCancer"] = data_encoded["SkinCancer"].apply(encode_binary)

In [26]:
data_encoded["HeartDisease"] = data_encoded["HeartDisease"].apply(encode_binary)

In [27]:
data_encoded["Sex"] = data_encoded["Sex"].apply(encode_sex)

In [28]:
data_encoded.head()

,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer
0,0,16.60,1,0,0,3.0,30.0,0,0,7,5,2,1,3,5.0,1,0,1
1,0,20.34,0,0,1,0.0,0.0,0,0,12,5,0,1,3,7.0,0,0,0
2,0,26.58,1,0,0,20.0,30.0,0,1,9,5,2,1,1,8.0,1,0,0
3,0,24.21,0,0,0,0.0,0.0,0,0,11,5,0,0,2,6.0,0,0,1
4,0,23.71,0,0,0,28.0,0.0,1,0,4,5,0,1,3,8.0,0,0,0

In [29]:
from sklearn.preprocessing import StandardScaler

In [30]:
data_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319795 entries, 0 to 319794
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   HeartDisease      319795 non-null  int64
 1   BMI               319795 non-null  float64
 2   Smoking           319795 non-null  int64
 3   AlcoholDrinking   319795 non-null  int64
 4   Stroke            319795 non-null  int64
 5   PhysicalHealth    319795 non-null  float64
 6   MentalHealth      319795 non-null  float64
 7   DiffWalking       319795 non-null  int64
 8   Sex               319795 non-null  int64
 9   AgeCategory       319795 non-null  int64
 10  Race              319795 non-null  int64
 11  Diabetic          319795 non-null  int64
 12  PhysicalActivity  319795 non-null  int64
 13  GenHealth         319795 non-null  int64
 14  SleepTime         319795 non-null  float64
 15  Asthma            319795 non-null  int64
 16  KidneyDisease     319795 non-null  int64
 17  SkinCancer        319795 non-null  int64
dtypes: float64(4), int64(14)
memory usage: 43.9 MB

In [37]:
y = data_encoded["HeartDisease"].values.reshape(-1,1)

y[:5]

array([[0],
       [0],
       [0],
       [0],
       [0]])

In [38]:
X = data_encoded.drop(columns="HeartDisease")

In [39]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data using train_test_split
# Assign a random_state of 1 to the function

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [ ]:
# Decision tree model

In [41]:
scaler = StandardScaler()

In [42]:
X_scaler = scaler.fit(X_train)

In [43]:
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [45]:
from sklearn import tree

In [46]:
model = tree.DecisionTreeClassifier()

In [47]:
model = model.fit(X_train_scaled, y_train)

In [48]:
predictions = model.predict(X_test_scaled)

In [50]:
from sklearn.metrics import balanced_accuracy_score, confusion_matrix, classification_report

In [51]:
cm = confusion_matrix(y_test, predictions)

cm_df = pd.DataFrame(cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

In [52]:
acc_score = balanced_accuracy_score(y_test, predictions)

In [53]:
display(cm_df)

          Predicted 0  Predicted 1
Actual 0        67436         5775
Actual 1         5006         1732

In [54]:
print(acc_score)

0.5890839903864724

In [55]:
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

           0       0.93      0.92      0.93     73211
           1       0.23      0.26      0.24      6738

    accuracy                           0.87     79949
   macro avg       0.58      0.59      0.58     79949
weighted avg       0.87      0.87      0.87     79949

In [56]:
# Import the LogisticRegression module from SKLearn
from sklearn.linear_model import LogisticRegression

# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model

lr_model = LogisticRegression(solver='lbfgs', max_iter=200, random_state=1)

# Fit the model using training data

lr_model.fit(X_train_scaled, y_train)

/Users/gustavocupertino/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(max_iter=200, random_state=1)

In [ ]:
# Make a prediction using the testing data

training_predictions = lr_model.predict(X_train)

testing_predictions = lr_model.predict(X_test)
testing_predictions = lr_model.predict(X_test)

In [ ]:

# results = pd.DataFrame({'Prediction': predictions, 'Actual': y_test}).reset_index(drop=True)
# results.head()

In [ ]:
from sklearn.metrics import balanced_accuracy_score, confusion_matrix, classification_report

In [ ]:
training_matrix = confusion_matrix(y_train, training_predictions)

print(training_matrix)

In [ ]:
test_matrix = confusion_matrix(y_test, testing_predictions)

print(test_matrix)

In [ ]:
# Print the balanced_accuracy score of the model

print(f"Balanced Accuracy score: {balanced_accuracy_score(y_test, predictions)}")

In [ ]:
# Generate a confusion matrix for the model

cm = confusion_matrix(y_test, predictions)

cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
)

print(cm_df)

In [ ]:
# Print the classification report for the model

testing_report = classification_report(y_test, testing_predictions)

print(testing_report)

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
plt.figure(figsize=(20,12))
sns.set_context('notebook',font_scale = 1.3)
sns.heatmap(data.corr(),annot=True,linewidth =2)
plt.tight_layout()