In [1]:
import pandas as pd
from pathlib import Path

In [2]:
data_path = "../project-4-group-6/Resources/processed_data.csv"

data = pd.read_csv(data_path)

In [3]:
data.head()

,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,Diabetic,...,Race_Asian,Race_Black,Race_Hispanic,Race_Other,Race_White,GenHealth_Excellent,GenHealth_Fair,GenHealth_Good,GenHealth_Poor,GenHealth_Very good
0,0,16.60,1,0,0,3.0,30.0,0,0,1,...,0,0,0,0,1,0,0,0,0,1
1,0,20.34,0,0,1,0.0,0.0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
2,0,26.58,1,0,0,20.0,30.0,0,1,1,...,0,0,0,0,1,0,1,0,0,0
3,0,24.21,0,0,0,0.0,0.0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
4,0,23.71,0,0,0,28.0,0.0,1,0,0,...,0,0,0,0,1,0,0,0,0,1

In [4]:
data.describe()

,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,Diabetic,...,Race_Asian,Race_Black,Race_Hispanic,Race_Other,Race_White,GenHealth_Excellent,GenHealth_Fair,GenHealth_Good,GenHealth_Poor,GenHealth_Very good
count,319795.000000,319795.000000,319795.000000,319795.000000,319795.000000,319795.00000,319795.000000,319795.000000,319795.000000,319795.000000,...,319795.000000,319795.000000,319795.000000,319795.000000,319795.000000,319795.000000,319795.000000,319795.000000,319795.000000,319795.000000
mean,0.085595,28.325399,0.412477,0.068097,0.037740,3.37171,3.898366,0.138870,0.475273,0.135590,...,0.025229,0.071730,0.085824,0.034172,0.766779,0.209015,0.108435,0.291215,0.035301,0.356034
std,0.279766,6.356100,0.492281,0.251912,0.190567,7.95085,7.955235,0.345812,0.499389,0.342353,...,0.156819,0.258041,0.280104,0.181671,0.422883,0.406606,0.310930,0.454323,0.184539,0.478826
min,0.000000,12.020000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,24.030000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,27.340000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,31.420000,1.000000,0.000000,0.000000,2.00000,3.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.000000
max,1.000000,94.850000,1.000000,1.000000,1.000000,30.00000,30.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [5]:
X = data.copy()
X.drop("HeartDisease", axis=1, inplace=True)
X.head()

,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,Diabetic,PhysicalActivity,...,Race_Asian,Race_Black,Race_Hispanic,Race_Other,Race_White,GenHealth_Excellent,GenHealth_Fair,GenHealth_Good,GenHealth_Poor,GenHealth_Very good
0,16.60,1,0,0,3.0,30.0,0,0,1,1,...,0,0,0,0,1,0,0,0,0,1
1,20.34,0,0,1,0.0,0.0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,1
2,26.58,1,0,0,20.0,30.0,0,1,1,1,...,0,0,0,0,1,0,1,0,0,0
3,24.21,0,0,0,0.0,0.0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
4,23.71,0,0,0,28.0,0.0,1,0,0,1,...,0,0,0,0,1,0,0,0,0,1

In [6]:
y = data["HeartDisease"].ravel()
y[:5]

array([0, 0, 0, 0, 0])

In [7]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=42, 
                                                    stratify=y)
X_train.shape

(239846, 38)

In [8]:
from sklearn.preprocessing import StandardScaler

In [9]:
scaler = StandardScaler()

In [10]:
X_scaler = scaler.fit(X_train)

In [11]:
 # Scaling data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [12]:
from sklearn.linear_model import LogisticRegression
lr_model = LogisticRegression(solver='lbfgs',
                                max_iter=500,
                                random_state=42)
lr_model

LogisticRegression(max_iter=500, random_state=42)

In [13]:
lr_model.fit(X_train_scaled, y_train)

LogisticRegression(max_iter=500, random_state=42)

In [14]:
 # Making predictions using the training data
predictions_train = lr_model.predict(X_train_scaled)

In [15]:
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [16]:
 # Calculating the confusion matrix with training data
cm = confusion_matrix(y_train, predictions_train)
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
)

# Calculating the accuracy score
acc_score_train = accuracy_score(y_train, predictions_train)

In [17]:
 # Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score_train}")
print("Classification Report")
print(classification_report(y_train, predictions_train))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0       217474         1842
Actual 1        18330         2200

Accuracy Score : 0.9158960332880265
Classification Report
              precision    recall  f1-score   support

           0       0.92      0.99      0.96    219316
           1       0.54      0.11      0.18     20530

    accuracy                           0.92    239846
   macro avg       0.73      0.55      0.57    239846
weighted avg       0.89      0.92      0.89    239846

In [18]:
 # Making predictions using the testing data
predictions_test = lr_model.predict(X_test_scaled)

In [19]:
 # Calculating the confusion matrix with testing data
cm_test = confusion_matrix(y_test, predictions_test)
cm_test_df = pd.DataFrame(
    cm_test, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
)

# Calculating the accuracy score
acc_score_test = accuracy_score(y_test, predictions_test)

In [20]:
 # Displaying results
print("Confusion Matrix")
display(cm_test_df)
print(f"Accuracy Score : {acc_score_test}")
print("Classification Report")
print(classification_report(y_test, predictions_test))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0        72520          586
Actual 1         6115          728

Accuracy Score : 0.9161840673429311
Classification Report
              precision    recall  f1-score   support

           0       0.92      0.99      0.96     73106
           1       0.55      0.11      0.18      6843

    accuracy                           0.92     79949
   macro avg       0.74      0.55      0.57     79949
weighted avg       0.89      0.92      0.89     79949

In [21]:
from imblearn.over_sampling import RandomOverSampler

In [22]:
oversampler = RandomOverSampler()

In [23]:
# Apply random oversampling to the training data
X_train_oversampled, y_train_oversampled = oversampler.fit_resample(X_train_scaled, y_train)

In [24]:
lr_model.fit(X_train_oversampled, y_train_oversampled)

LogisticRegression(max_iter=500, random_state=42)

In [25]:
new_predictions = lr_model.predict(X_test_scaled)

In [26]:
 # Calculating the confusion matrix with testing data
cm_orversampled = confusion_matrix(y_test, new_predictions)
cm_orversampled_df = pd.DataFrame(
    cm_orversampled, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
)

# Calculating the accuracy score
acc_score_test_oversampled = accuracy_score(y_test, new_predictions)

In [27]:
 # Displaying results
print("Confusion Matrix")
display(cm_orversampled_df)
print(f"Accuracy Score : {acc_score_test_oversampled}")
print("Classification Report")
print(classification_report(y_test, new_predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0        54514        18592
Actual 1         1523         5320

Accuracy Score : 0.7484021063427936
Classification Report
              precision    recall  f1-score   support

           0       0.97      0.75      0.84     73106
           1       0.22      0.78      0.35      6843

    accuracy                           0.75     79949
   macro avg       0.60      0.76      0.60     79949
weighted avg       0.91      0.75      0.80     79949

In [28]:
from imblearn.over_sampling import SMOTE

In [29]:
smote = SMOTE()
X_SMOTresampled, y_SMOTresampled = smote.fit_resample(X_train_scaled, y_train)

In [30]:
lr_model.fit(X_SMOTresampled, y_SMOTresampled)

LogisticRegression(max_iter=500, random_state=42)

In [31]:
smot_predictions = lr_model.predict(X_test_scaled)

In [32]:
 # Calculating the confusion matrix with testing data
cm_SMOTorversampled = confusion_matrix(y_test, smot_predictions)
cm_SMOTorversampled_df = pd.DataFrame(
    cm_SMOTorversampled, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
)

# Calculating the accuracy score
acc_score_SMOT_oversampled = accuracy_score(y_test, smot_predictions)

In [33]:
 # Displaying results
print("Confusion Matrix")
display(cm_SMOTorversampled_df)
print(f"Accuracy Score : {acc_score_SMOT_oversampled}")
print("Classification Report")
print(classification_report(y_test, smot_predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0        54508        18598
Actual 1         1515         5328

Accuracy Score : 0.7484271222904602
Classification Report
              precision    recall  f1-score   support

           0       0.97      0.75      0.84     73106
           1       0.22      0.78      0.35      6843

    accuracy                           0.75     79949
   macro avg       0.60      0.76      0.60     79949
weighted avg       0.91      0.75      0.80     79949

In [34]:
import pickle

In [36]:
# Save the model as a .pkl file
with open('lr_model.pkl', 'wb') as file:
    pickle.dump(lr_model, file)