In [3]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

In [4]:
#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/heart_2020_cleaned.csv")
application_df.head(20)

,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer
0,No,16.60,Yes,No,No,3.0,30.0,No,Female,55-59,White,Yes,Yes,Very good,5.0,Yes,No,Yes
1,No,20.34,No,No,Yes,0.0,0.0,No,Female,80 or older,White,No,Yes,Very good,7.0,No,No,No
2,No,26.58,Yes,No,No,20.0,30.0,No,Male,65-69,White,Yes,Yes,Fair,8.0,Yes,No,No
3,No,24.21,No,No,No,0.0,0.0,No,Female,75-79,White,No,No,Good,6.0,No,No,Yes
4,No,23.71,No,No,No,28.0,0.0,Yes,Female,40-44,White,No,Yes,Very good,8.0,No,No,No
5,Yes,28.87,Yes,No,No,6.0,0.0,Yes,Female,75-79,Black,No,No,Fair,12.0,No,No,No
6,No,21.63,No,No,No,15.0,0.0,No,Female,70-74,White,No,Yes,Fair,4.0,Yes,No,Yes
7,No,31.64,Yes,No,No,5.0,0.0,Yes,Female,80 or older,White,Yes,No,Good,9.0,Yes,No,No
8,No,26.45,No,No,No,0.0,0.0,No,Female,80 or older,White,"No, borderline diabetes",No,Fair,5.0,No,Yes,No
9,No,40.69,No,No,No,0.0,0.0,Yes,Male,65-69,White,No,Yes,Good,10.0,No,No,No
10,Yes,34.30,Yes,No,No,30.0,0.0,Yes,Male,60-64,White,Yes,No,Poor,15.0,Yes,No,No
11,No,28.71,Yes,No,No,0.0,0.0,No,Female,55-59,White,No,Yes,Very good,5.0,No,No,No
12,No,28.37,Yes,No,No,0.0,0.0,Yes,Male,75-79,White,Yes,Yes,Very good,8.0,No,No,No
13,No,28.15,No,No,No,7.0,0.0,Yes,Female,80 or older,White,No,No,Good,7.0,No,No,No
14,No,29.29,Yes,No,No,0.0,30.0,Yes,Female,60-64,White,No,No,Good,5.0,No,No,No
15,No,29.18,No,No,No,1.0,0.0,No,Female,50-54,White,No,Yes,Very good,6.0,No,No,No
16,No,26.26,No,No,No,5.0,2.0,No,Female,70-74,White,No,No,Very good,10.0,No,No,No
17,No,22.59,Yes,No,No,0.0,30.0,Yes,Male,70-74,White,"No, borderline diabetes",Yes,Good,8.0,No,No,No
18,No,29.86,Yes,No,No,0.0,0.0,Yes,Female,75-79,Black,Yes,No,Fair,5.0,No,Yes,No
19,No,18.13,No,No,No,0.0,0.0,No,Male,80 or older,White,No,Yes,Excellent,8.0,No,No,Yes

In [5]:
application_df.nunique()

HeartDisease           2
BMI                 3604
Smoking                2
AlcoholDrinking        2
Stroke                 2
PhysicalHealth        31
MentalHealth          31
DiffWalking            2
Sex                    2
AgeCategory           13
Race                   6
Diabetic               4
PhysicalActivity       2
GenHealth              5
SleepTime             24
Asthma                 2
KidneyDisease          2
SkinCancer             2
dtype: int64

In [6]:
#application_df["BMI"].value_counts()

In [7]:
# below 18.5-underweight
#18.5-24.9 healthy weight
#25.0-29.9 Overweight
#30.0 and above Obesity

In [8]:
#application_df["BMI"].value_counts()[application_df["BMI"].value_counts()<18.50]

In [9]:
application_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319795 entries, 0 to 319794
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   HeartDisease      319795 non-null  object
 1   BMI               319795 non-null  float64
 2   Smoking           319795 non-null  object
 3   AlcoholDrinking   319795 non-null  object
 4   Stroke            319795 non-null  object
 5   PhysicalHealth    319795 non-null  float64
 6   MentalHealth      319795 non-null  float64
 7   DiffWalking       319795 non-null  object
 8   Sex               319795 non-null  object
 9   AgeCategory       319795 non-null  object
 10  Race              319795 non-null  object
 11  Diabetic          319795 non-null  object
 12  PhysicalActivity  319795 non-null  object
 13  GenHealth         319795 non-null  object
 14  SleepTime         319795 non-null  float64
 15  Asthma            319795 non-null  object
 16  KidneyDisease     319795 non-null  object
 17  SkinCancer        319795 non-null  object
dtypes: float64(4), object(14)
memory usage: 43.9+ MB

In [10]:
application_dummies = pd.get_dummies(application_df["HeartDisease"])
application_dummies.head()

   No  Yes
0   1    0
1   1    0
2   1    0
3   1    0
4   1    0

In [11]:
application_dummies["new_column"]=application_dummies["No"]+application_dummies["Yes"]

In [12]:
application_dummies_cleaned_df=application_dummies.drop(columns=["No","Yes"])

In [13]:
application_dummies_cleaned_df=application_dummies_cleaned_df.rename(columns={"new_column":"Outcome"})
application_dummies_cleaned_df

        Outcome
0             1
1             1
2             1
3             1
4             1
...         ...
319790        1
319791        1
319792        1
319793        1
319794        1

[319795 rows x 1 columns]

In [14]:
application_dummies_2 = pd.get_dummies(application_df[["Smoking","AlcoholDrinking","Stroke","DiffWalking","Sex","Race","Diabetic","PhysicalActivity","GenHealth","Asthma","KidneyDisease","SkinCancer","AgeCategory"]])
application_dummies_2.head(20)

,Smoking_No,Smoking_Yes,AlcoholDrinking_No,AlcoholDrinking_Yes,Stroke_No,Stroke_Yes,DiffWalking_No,DiffWalking_Yes,Sex_Female,Sex_Male,...,AgeCategory_35-39,AgeCategory_40-44,AgeCategory_45-49,AgeCategory_50-54,AgeCategory_55-59,AgeCategory_60-64,AgeCategory_65-69,AgeCategory_70-74,AgeCategory_75-79,AgeCategory_80 or older
0,0,1,1,0,1,0,1,0,1,0,...,0,0,0,0,1,0,0,0,0,0
1,1,0,1,0,0,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,1
2,0,1,1,0,1,0,1,0,0,1,...,0,0,0,0,0,0,1,0,0,0
3,1,0,1,0,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,1,0
4,1,0,1,0,1,0,0,1,1,0,...,0,1,0,0,0,0,0,0,0,0
5,0,1,1,0,1,0,0,1,1,0,...,0,0,0,0,0,0,0,0,1,0
6,1,0,1,0,1,0,1,0,1,0,...,0,0,0,0,0,0,0,1,0,0
7,0,1,1,0,1,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,1
8,1,0,1,0,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,1
9,1,0,1,0,1,0,0,1,0,1,...,0,0,0,0,0,0,1,0,0,0
10,0,1,1,0,1,0,0,1,0,1,...,0,0,0,0,0,1,0,0,0,0
11,0,1,1,0,1,0,1,0,1,0,...,0,0,0,0,1,0,0,0,0,0
12,0,1,1,0,1,0,0,1,0,1,...,0,0,0,0,0,0,0,0,1,0
13,1,0,1,0,1,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,1
14,0,1,1,0,1,0,0,1,1,0,...,0,0,0,0,0,1,0,0,0,0
15,1,0,1,0,1,0,1,0,1,0,...,0,0,0,1,0,0,0,0,0,0
16,1,0,1,0,1,0,1,0,1,0,...,0,0,0,0,0,0,0,1,0,0
17,0,1,1,0,1,0,0,1,0,1,...,0,0,0,0,0,0,0,1,0,0
18,0,1,1,0,1,0,0,1,1,0,...,0,0,0,0,0,0,0,0,1,0
19,1,0,1,0,1,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,1

In [15]:
merged_clean_df=pd.concat([application_dummies_cleaned_df,application_dummies_2],axis=1)

In [16]:
merged_clean_df.head(10)

,Outcome,Smoking_No,Smoking_Yes,AlcoholDrinking_No,AlcoholDrinking_Yes,Stroke_No,Stroke_Yes,DiffWalking_No,DiffWalking_Yes,Sex_Female,...,AgeCategory_35-39,AgeCategory_40-44,AgeCategory_45-49,AgeCategory_50-54,AgeCategory_55-59,AgeCategory_60-64,AgeCategory_65-69,AgeCategory_70-74,AgeCategory_75-79,AgeCategory_80 or older
0,1,0,1,1,0,1,0,1,0,1,...,0,0,0,0,1,0,0,0,0,0
1,1,1,0,1,0,0,1,1,0,1,...,0,0,0,0,0,0,0,0,0,1
2,1,0,1,1,0,1,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
3,1,1,0,1,0,1,0,1,0,1,...,0,0,0,0,0,0,0,0,1,0
4,1,1,0,1,0,1,0,0,1,1,...,0,1,0,0,0,0,0,0,0,0
5,1,0,1,1,0,1,0,0,1,1,...,0,0,0,0,0,0,0,0,1,0
6,1,1,0,1,0,1,0,1,0,1,...,0,0,0,0,0,0,0,1,0,0
7,1,0,1,1,0,1,0,0,1,1,...,0,0,0,0,0,0,0,0,0,1
8,1,1,0,1,0,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,1
9,1,1,0,1,0,1,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0

In [17]:
application_copy_df=application_df.copy()

In [18]:
merged_clean_df_2=pd.concat([application_copy_df,merged_clean_df],axis=1)

In [19]:
merged_clean_df_2

,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,...,AgeCategory_35-39,AgeCategory_40-44,AgeCategory_45-49,AgeCategory_50-54,AgeCategory_55-59,AgeCategory_60-64,AgeCategory_65-69,AgeCategory_70-74,AgeCategory_75-79,AgeCategory_80 or older
0,No,16.60,Yes,No,No,3.0,30.0,No,Female,55-59,...,0,0,0,0,1,0,0,0,0,0
1,No,20.34,No,No,Yes,0.0,0.0,No,Female,80 or older,...,0,0,0,0,0,0,0,0,0,1
2,No,26.58,Yes,No,No,20.0,30.0,No,Male,65-69,...,0,0,0,0,0,0,1,0,0,0
3,No,24.21,No,No,No,0.0,0.0,No,Female,75-79,...,0,0,0,0,0,0,0,0,1,0
4,No,23.71,No,No,No,28.0,0.0,Yes,Female,40-44,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319790,Yes,27.41,Yes,No,No,7.0,0.0,Yes,Male,60-64,...,0,0,0,0,0,1,0,0,0,0
319791,No,29.84,Yes,No,No,0.0,0.0,No,Male,35-39,...,1,0,0,0,0,0,0,0,0,0
319792,No,24.24,No,No,No,0.0,0.0,No,Female,45-49,...,0,0,1,0,0,0,0,0,0,0
319793,No,32.81,No,No,No,0.0,0.0,No,Female,25-29,...,0,0,0,0,0,0,0,0,0,0
319794,No,46.56,No,No,No,0.0,0.0,No,Female,80 or older,...,0,0,0,0,0,0,0,0,0,1

In [20]:
droped_merged_df=merged_clean_df_2.drop(columns=["HeartDisease","Smoking","AlcoholDrinking","Stroke","DiffWalking","Sex","AgeCategory","Race","Diabetic","PhysicalActivity","GenHealth","Asthma","KidneyDisease","SkinCancer"])

In [21]:
droped_merged_df.head(20)

,BMI,PhysicalHealth,MentalHealth,SleepTime,Outcome,Smoking_No,Smoking_Yes,AlcoholDrinking_No,AlcoholDrinking_Yes,Stroke_No,...,AgeCategory_35-39,AgeCategory_40-44,AgeCategory_45-49,AgeCategory_50-54,AgeCategory_55-59,AgeCategory_60-64,AgeCategory_65-69,AgeCategory_70-74,AgeCategory_75-79,AgeCategory_80 or older
0,16.60,3.0,30.0,5.0,1,0,1,1,0,1,...,0,0,0,0,1,0,0,0,0,0
1,20.34,0.0,0.0,7.0,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
2,26.58,20.0,30.0,8.0,1,0,1,1,0,1,...,0,0,0,0,0,0,1,0,0,0
3,24.21,0.0,0.0,6.0,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,1,0
4,23.71,28.0,0.0,8.0,1,1,0,1,0,1,...,0,1,0,0,0,0,0,0,0,0
5,28.87,6.0,0.0,12.0,1,0,1,1,0,1,...,0,0,0,0,0,0,0,0,1,0
6,21.63,15.0,0.0,4.0,1,1,0,1,0,1,...,0,0,0,0,0,0,0,1,0,0
7,31.64,5.0,0.0,9.0,1,0,1,1,0,1,...,0,0,0,0,0,0,0,0,0,1
8,26.45,0.0,0.0,5.0,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,1
9,40.69,0.0,0.0,10.0,1,1,0,1,0,1,...,0,0,0,0,0,0,1,0,0,0
10,34.30,30.0,0.0,15.0,1,0,1,1,0,1,...,0,0,0,0,0,1,0,0,0,0
11,28.71,0.0,0.0,5.0,1,0,1,1,0,1,...,0,0,0,0,1,0,0,0,0,0
12,28.37,0.0,0.0,8.0,1,0,1,1,0,1,...,0,0,0,0,0,0,0,0,1,0
13,28.15,7.0,0.0,7.0,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,1
14,29.29,0.0,30.0,5.0,1,0,1,1,0,1,...,0,0,0,0,0,1,0,0,0,0
15,29.18,1.0,0.0,6.0,1,1,0,1,0,1,...,0,0,0,1,0,0,0,0,0,0
16,26.26,5.0,2.0,10.0,1,1,0,1,0,1,...,0,0,0,0,0,0,0,1,0,0
17,22.59,0.0,30.0,8.0,1,0,1,1,0,1,...,0,0,0,0,0,0,0,1,0,0
18,29.86,0.0,0.0,5.0,1,0,1,1,0,1,...,0,0,0,0,0,0,0,0,1,0
19,18.13,0.0,0.0,8.0,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,1

In [22]:
droped_merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319795 entries, 0 to 319794
Data columns (total 51 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   BMI                                  319795 non-null  float64
 1   PhysicalHealth                       319795 non-null  float64
 2   MentalHealth                         319795 non-null  float64
 3   SleepTime                            319795 non-null  float64
 4   Outcome                              319795 non-null  uint8
 5   Smoking_No                           319795 non-null  uint8
 6   Smoking_Yes                          319795 non-null  uint8
 7   AlcoholDrinking_No                   319795 non-null  uint8
 8   AlcoholDrinking_Yes                  319795 non-null  uint8
 9   Stroke_No                            319795 non-null  uint8
 10  Stroke_Yes                           319795 non-null  uint8
 11  DiffWalking_No                       319795 non-null  uint8
 12  DiffWalking_Yes                      319795 non-null  uint8
 13  Sex_Female                           319795 non-null  uint8
 14  Sex_Male                             319795 non-null  uint8
 15  Race_American Indian/Alaskan Native  319795 non-null  uint8
 16  Race_Asian                           319795 non-null  uint8
 17  Race_Black                           319795 non-null  uint8
 18  Race_Hispanic                        319795 non-null  uint8
 19  Race_Other                           319795 non-null  uint8
 20  Race_White                           319795 non-null  uint8
 21  Diabetic_No                          319795 non-null  uint8
 22  Diabetic_No, borderline diabetes     319795 non-null  uint8
 23  Diabetic_Yes                         319795 non-null  uint8
 24  Diabetic_Yes (during pregnancy)      319795 non-null  uint8
 25  PhysicalActivity_No                  319795 non-null  uint8
 26  PhysicalActivity_Yes                 319795 non-null  uint8
 27  GenHealth_Excellent                  319795 non-null  uint8
 28  GenHealth_Fair                       319795 non-null  uint8
 29  GenHealth_Good                       319795 non-null  uint8
 30  GenHealth_Poor                       319795 non-null  uint8
 31  GenHealth_Very good                  319795 non-null  uint8
 32  Asthma_No                            319795 non-null  uint8
 33  Asthma_Yes                           319795 non-null  uint8
 34  KidneyDisease_No                     319795 non-null  uint8
 35  KidneyDisease_Yes                    319795 non-null  uint8
 36  SkinCancer_No                        319795 non-null  uint8
 37  SkinCancer_Yes                       319795 non-null  uint8
 38  AgeCategory_18-24                    319795 non-null  uint8
 39  AgeCategory_25-29                    319795 non-null  uint8
 40  AgeCategory_30-34                    319795 non-null  uint8
 41  AgeCategory_35-39                    319795 non-null  uint8
 42  AgeCategory_40-44                    319795 non-null  uint8
 43  AgeCategory_45-49                    319795 non-null  uint8
 44  AgeCategory_50-54                    319795 non-null  uint8
 45  AgeCategory_55-59                    319795 non-null  uint8
 46  AgeCategory_60-64                    319795 non-null  uint8
 47  AgeCategory_65-69                    319795 non-null  uint8
 48  AgeCategory_70-74                    319795 non-null  uint8
 49  AgeCategory_75-79                    319795 non-null  uint8
 50  AgeCategory_80 or older              319795 non-null  uint8
dtypes: float64(4), uint8(47)
memory usage: 24.1 MB

In [23]:
y=droped_merged_df["Outcome"].values

In [24]:
X=droped_merged_df.drop(columns=["Outcome"]).values

In [25]:
X_train,X_test,y_train,y_test = train_test_split(X,y, random_state=78)

In [26]:
X_train.shape

(239846, 50)

In [27]:
X_test.shape

(79949, 50)

In [28]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [29]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 408

 dense_1 (Dense)             (None, 5)                 45

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 459
Trainable params: 459
Non-trainable params: 0
_________________________________________________________________

In [30]:
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [31]:
fit_model = nn.fit(X_train_scaled,y_train,epochs=5)

Epoch 1/5
7496/7496 [==============================] - 14s 2ms/step - loss: 0.0031 - accuracy: 0.9998
Epoch 2/5
7496/7496 [==============================] - 12s 2ms/step - loss: 6.5264e-07 - accuracy: 1.0000
Epoch 3/5
7496/7496 [==============================] - 12s 2ms/step - loss: 1.0848e-08 - accuracy: 1.0000
Epoch 4/5
7496/7496 [==============================] - 11s 1ms/step - loss: 7.5042e-10 - accuracy: 1.0000
Epoch 5/5
7496/7496 [==============================] - 11s 2ms/step - loss: 3.5724e-10 - accuracy: 1.0000

In [32]:
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

2499/2499 - 3s - loss: 3.1915e-09 - accuracy: 1.0000 - 3s/epoch - 1ms/step
Loss: 3.1914577647285114e-09, Accuracy: 1.0